#forecast {
    position: absolute;
    left: -3%;
}

h1 {
    margin-bottom: 0%;
    background-image: linear-gradient(to right, rgb(255, 86, 8), rgb(233, 236, 78) , rgb(111, 146, 244));
    color: blue;

}